---
- hosts: VMs:bootstrapNodes

  tasks:
    - name: Get source code from git
      git: 
        repo: 'git@github.com:hennersz/finalYearProject.git'
        dest: /home/server/p2ppki
        accept_hostkey: yes
        force: yes
    - name: Install python requirements
      pip:
        requirements: ~/p2ppki/requirements.txt
        virtualenv: ~/p2ppki/ENV
        virtualenv_command: /home/server/.local/bin/virtualenv
        virtualenv_python: python2.7
    - name: Make main file executable
      file: 
        path: ~/p2ppki/p2ppki/core.py
        mode: 0751
