---
- hosts: bootstrapNodes

  tasks:
    - name: run bootstrapping server
      shell: . ~/p2ppki/ENV/bin/activate && cd ~/p2ppki/bin && nohup twistd -noy server.tac &

- hosts: VMs

  tasks: 
    - name: Run the program
      shell: . ~/p2ppki/ENV/bin/activate && nohup python ~/p2ppki/p2ppki/core.py &
